<%= form_with model: payment_detail do |f| %>

  <div class='mb-3'>
    <%= f.label :card_number, 'Card Number', class: 'form-label fw-bold' %>
    <%= f.text_field :card_number, class: 'form-control p-2 rounded-pill', placeholder: '1234 5678 9012 3456' %>
  </div>

  <div class='mb-3'>
    <%= f.label :expiry_date, 'Expiration Date', class: 'form-label fw-bold' %>
    <%= f.text_field :expiry_date, class: 'form-control p-2 rounded-pill', placeholder: 'MM/YY' %>
  </div>

  <div class='mb-3'>
    <%= f.label :cvv, 'CVV', class: 'form-label fw-bold' %>
    <%= f.text_field :cvv, class: 'form-control p-2 rounded-pill', placeholder: '123' %>
  </div>

  <div class='text-center'>
    <%= f.submit 'Proceed to Payment', class: 'btn btn-primary btn-lg w-100 rounded-pill'%>
  </div>

<% end %>
