<div class='container d-flex justify-content-center align-items-center' style='min-height: 100vh;'>
  <div class='card shadow-sm p-4' style='width: 100%; max-width: 400px;'>
    <h2 class='text-center mb-4'>Log In</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='mb-3'>
        <%= f.label :email, class: 'form-label fw-bold'%><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class:'form-control',placeholder:'Enter your email address' %>
      </div>

      <div class='mb-3'>
        <%= f.label :password, class: 'form-label fw-bold' %><br />
        <%= f.password_field :password, autocomplete: 'current-password', class:'form-control',placeholder:'Enter your password'%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class='form-check mb-3'>
          <%= f.check_box :remember_me, class:'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label'%>
        </div>
      <% end %>

      <div class='d-grid mb-3'>
        <%= f.submit 'Log in', class:'btn btn-primary'%>
      </div>
    <% end %>
      <div class='text-center'>
      <%= render 'devise/shared/links' %>
      </div>
    </div>
</div>