<%= form_with model: product, local: true do |form| %>

    <div class="mb-3">
        <%= form.label :name, class:"form-label" %>
        <%= form.text_field :name, class:"form-control", placeholder: "Enter product name"%>
        <% if form.object.errors[:name].any? %>
            <div class="text-danger">
            <%= form.object.errors[:name].join(", ") %>
            </div>
        <% end %>
    </div>

    <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control", placeholder: "Provide a detailed description of the product", rows: 3 %>
        <% if form.object.errors[:description].any? %>
            <div class="text-danger">
            <%= form.object.errors[:description].join(", ") %>
            </div>
        <% end %>
    </div>


    <div class="mb-3">
        <%= form.label :price, class: "form-label" %>
        <%= form.number_field :price, class: "form-control", placeholder: "Enter product price"%>
        <% if form.object.errors[:price].any? %>
            <div class="text-danger">
            <%= form.object.errors[:price].join(", ") %>
            </div>
        <% end %>
    </div>

    <div class="mb-3">
        <%= form.label :stock_quantity, class: "form-label" %>
        <%= form.number_field :stock_quantity, class: "form-control", placeholder: "Enter stock quantity"%>
        <% if form.object.errors[:stock_quantity].any? %>
            <div class="text-danger">
            <%= form.object.errors[:stock_quantity].join(", ") %>
            </div>
        <% end %>
    </div>

    <div class="mb-3">
        <%= form.label :image, class: "form-label" %>
        <%= form.file_field :image, class: "form-control" %>
        <small class="form-text text-muted">Upload an image for the product (optional).</small>
        <% if form.object.errors[:image].any? %>
            <div class="text-danger">
            <%= form.object.errors[:image].join(", ") %>
            </div>
        <% end %>
    </div>

    <div class="mb-3">
        <%= form.label :category_id, "Category Name", class: "form-label" %>
        <%= form.collection_select :category_id,Category.order(:name),:id,:name %>
    </div>

    <div class="text-center">
        <%= form.submit  class: "btn btn-success px-5 py-3 fw-bold rounded-pill shadow" %>
    </div>

<% end %>
