<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-md-8'>

      <div class='card shadow-lg p-4'>
        <div class='row'>
          <div class='col-md-6 text-center'>
            <% if @product.image.attached? %>
              <%= image_tag @product.image, class: 'img-fluid rounded', alt: @product.name, style: 'max-height: 300px; object-fit: cover;' %>
            <% end %>
          </div>
          <div class='col-md-6'>
            <h1 class='mb-3'><%= @product.name %></h1>
            <p class='text-muted'><%= @product.description %></p>
            <h4 class='text-primary'>Price: <%= number_to_currency(@product.price) %></h4>
            <p><strong>Stock Available:</strong> <%= @product.stock_quantity %></p>
            <div class='mt-4'>
              <% if can? :edit, @product %>
                  <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning me-2' %>
                  <%= link_to 'Delete', product_path(@product),
                        data: { turbo_method: :delete, turbo_confirm: 'Are you sure to delete?' },
                        class: 'btn btn-danger me-2' %>
              <% end %>
              <%= link_to 'Back to Products', products_path, class: 'btn btn-secondary' %>
            </div>
          </div>
        </div>
      </div>

      <% if current_user && current_user.purchased?(@product)%>
        <div class='mt-4 p-4 border rounded bg-light'>
          <h4 class='mb-3'>Add a Review</h4>
          <%= turbo_frame_tag 'new_product_review' do %>
            <%= link_to 'Add Review', new_product_review_path(@product), class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>

      <div class='mt-5'>
        <h4 class='mb-3 text-center'>Customer Reviews</h4>
          <%= turbo_frame_tag 'reviews' do %>
            <% if @product.reviews.any? %>
              <% @product.reviews.each do |review| %>
                <%= render partial:'reviews/review', locals: { product: @product, review: review}%>
              <% end %>
            <% else %>
              <p class='text-muted text-center'>No reviews yet. Be the first to review this product!</p>
            <% end %>
          <% end %>
      </div>

    </div>
  </div>
</div>
