<%= form_with model: shipping_detail do |form| %>
      <div class='mb-3'>
        <%= form.label :name, 'Full Name', class: 'form-label fw-bold' %>
        <%= form.text_field :name, class: 'form-control p-2 rounded-pill', placeholder: 'Enter your full name'%>
      </div>

      <div class='mb-3'>
        <%= form.label :address, 'Shipping Address', class: 'form-label fw-bold' %>
        <%= form.text_area :address, class: 'form-control p-2 rounded', placeholder: 'Enter your shipping address', rows: 3%>
      </div>

      <div class='mb-3'>
        <%= form.label :phone_number, 'Phone Number', class: 'form-label fw-bold' %>
        <%= form.text_field :phone_number, class: 'form-control p-2 rounded-pill', placeholder: 'Enter your phone number' %>
      </div>

      <div class='text-center'>
        <%= form.submit 'Submit', class: 'btn btn-primary btn-lg w-100 rounded-pill' %>
      </div>
<% end %>
